.errorMessage {
    color: var(--red-600);
    text-align: center;
    font-size: 50px;
}

.episodSpanProps {
    font-weight: bold;
}

.episodeList {
    border-bottom: 2px solid var(--slate-400);
    padding-bottom: 10px;
}
