{
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto",
    "trailingComma": "all",
    "bracketSpacing": true,
    "requireConfig": true,
    "printWidth": 120,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true
}
